<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  

  

  <ion-row *ngFor="let article of articles" style="margin-bottom: 10px;" (click)="viewSingleArticle(article)">
      <ion-col size="2">
            <ion-avatar style="margin-top : 40% ;background-color: grey; width: 50px; height: 50px;">
             
            </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <ion-row>
            <ion-col size="12">
              <span style="font-weight:800;">{{article.title  | slice:0:52}}{{ article.title.length > 52 ? '...' : '' }}</span>
            </ion-col>
            <ion-col size="12">
              <span style="font-size: 14px; color: grey;" > {{article.byline  | slice:0:20 }}{{article.byline.length >  20 ? '...' : '' }}</span> <span  style=" color: grey; font-size: 14px;float: right;"><ion-icon name="calendar" mode="md" style="margin-right: 2px;"></ion-icon>{{article.published_date}}</span>

            </ion-col>
        </ion-row>
         

      </ion-col>
      <ion-col  size="1">
           <ion-icon mode ='ios' style="margin-top : 40px" name="arrow-forward" size="medium"></ion-icon>
      </ion-col>
  </ion-row>
</ion-content>
